*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #eeeff3;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

header img{
    width: 250px;
    margin-right: 25px;
}

.socialIcon{
    width: 25px;
}

#loginContent{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highlightedBankName{
    color: rgb(8, 98, 125);
}

#loginArea{
    width: 50%;
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}

#inputArea{
    display: flex;
    flex-direction: column;
}

.loginInfo{
    height: 30px;
    padding: 10px;
}

.loginButton{
    width: 60px;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(8, 98, 125);
    color: white;
    border-radius: 3px;
    border: none;
}

.loginButton:hover{
    background-color: black;
}

#loginError{
    display: none;
}

#loginErrorNote{
    font-size: 14px;
    color: red;
}

#accountContent{
    margin: 50px 0;
    display: none;
}

#balanceArea{
    display: flex;
    justify-content: center;
}

.balanceInfo{
    width: 20%;
    margin: 25px;
    padding: 20px;
    background-color: rgb(187, 202, 212);
    border-radius: 10px;

}

.balanceInfo:hover{
    background-color: rgb(8, 98, 125);
    color: white;
}

.detailsName{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.amount{
    font-size: 50px;
}


#depositWithdrawArea{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.transactionInputArea{
    width: 30%;
    margin: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}

.inputName{
    font-size: 25px;
    font-weight: 700;
}

.inputAmount{
    height: 40px;
    padding: 10px;
}

.amountSubmitBtn{
    width: 100px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background-color: rgb(8, 98, 125);
    color: white;
    border-radius: 5px;
}

.amountSubmitBtn:hover{
    background-color: black;
}

#dipositeError{
    display: none;
}

#dipositeErrorNote{
    color: red;
    font-size: 12px;
}

#insufficientWithdrawError{
    display: none;
}

#insufficientWithdrawErrorNote{
    color: red;
    font-size: 12px;
}

#withdrawError{
    display: none;
}

#withdrawErrorNote{
    color: red;
    font-size: 12px;
}

#footerArea{
    text-align: center;
    margin: 100px auto 20px auto;
    padding: 25px;
}

#footNev{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);
    color: #737373;
}

#footNev a:visited{
    color: inherit;
}

#footNev li{
    margin: 10px 5px;
    font-size: 12px;
    color: inherit;
}

#footerArea p{
    color: #737373;
    font-size: 11px;
}